#################
# Visual Studio #
#################

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# NuGet Packages Directory
packages/

# NuGet Packages
*.nupkg
*.snupkg
*.zip

# MSBuild logs
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# ReSharper settings
*.DotSettings

# User-specific files
.vs/
*.user
launchSettings.json

####################
# Windows detritus #
####################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

##################
# MacOS detritus #
##################

# Folder config file
.DS_Store